*{
    margin: 0;
    padding-top: 0;
}

body{

    background:#fff;
   
}
@font-face {
    font-family: Simplifica;
    src: url(../webfonts/SIMPLIFICA.ttf);
}

h1{
    font-size:45px;
    font-weight: bold;
    color: #777777;
}

p{
    font-size:15px;
    font-family: Microsoft Yi Baiti;
    text-align: center;
    padding-bottom:10px;
     color: #ededed;
}
.titulo_menu{
    padding-top:30px; 
    padding-bottom: 30px;
    margin-bottom: 1px;
    font-family: Simplifica;
    text-align: center;
    background-color: #ededed; ;
}
.datos
{
 
     margin-top: 30px;
    margin-left:10%;
 
    float: left;  


}
.nombre,.cedula,.direccion,.telefono,.contrasena
{

    background-color:#fff;
    border:1px solid #b2b2b2;
    font-size: 15px;
    font-family: Microsoft Yi Baiti;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
  
    padding: 12px;
    resize: vertical;

}

div
{
    font-size: 15px;
    font-family: Microsoft Yi Baiti;
    font-weight: normal;

}

.ico_cedula,.ico_user,.ico_usuarios,.ico_password,.ico_keyid{
    color:#b2b2b2;
    font-size: 23px;   
}

.ico_keyid
{
    padding-right: 13px;

}
.ico_cedula{
    padding-right: 16px;
}

.ico_user
{
    padding-right: 16px;
}

.ico_usuarios
{
    padding-right: 7px;
}

.ico_password
{
    padding-right: 16px;
}

.button-guardar
{

    overflow:hidden;
    margin-top: 5px;
    margin-left: 43px;
    padding:12px 106px  ;
    background-color:#ededed;
    border:0px solid #ededed;
    box-shadow: 0px 0px 1px #777777;
    cursor: pointer;
    color: #b2b2b2;
    font-size: 18px;
    font-family: Microsoft Yi Baiti;
    font-weight: bold;
    text-align: center;
}

.button-guardar:hover
{
    box-shadow: 0px 0px 1px #777777;
    background-color: #b2b2b2;
    color: white;
}


.ico_borrar
{
    color:#ff7585 ;
    font-size: 20px;

}
.ico_actualizar
{
    color:#1fdbb8 ;
    font-size: 20px;

}

   
 .tipo
{
    background-color:#fff;
    border:1px solid #b2b2b2;
    font-size: 15px;
    font-family: Microsoft Yi Baiti;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:12px 67px  ;

}
    .tipo1
{
    background-color:#fff;
    border:1px solid #b2b2b2;
    font-size: 15px;
    font-family: Microsoft Yi Baiti;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:12px 63.5px  ;

}
 
   
   





table{ 


    text-align: center;
    font-family: Microsoft Yi Baiti; 

}
th {

    background: #ededed;



}


tr:hover td{  
    background: #ededed; 

}


/*
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; 
}

 Tooltip text 
.tooltip .tooltiptext {
     font-family:  Microsoft Yi Baiti; 
    visibility: hidden;
    width: 90px;
    background-color: #777777;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

     Position the tooltip text - see examples below! 
    position: absolute;
    z-index: 1;
}

 Show the tooltip text when you mouse over the tooltip container 
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip .tooltiptext {
    top: -1px;
    left: 110%; 
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;  To the left of the tooltip 
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #777777 transparent transparent;



}
*/


.datosTabla{
    padding-top: 51px;
    padding-right: 50px;
}



#contenedor{ 
    margin: auto; 

} 


#lateral{ 
    background-color: transparent; 
    width: 200px; 
    float:left; 

}  


#lateral2{ 
 
    width: 25%;

    padding-right: 0px;
    float:left; 


}  
