*{
    margin: 0;
    padding-top: 0;
}

body{

    background:#fff;

}

@font-face {
    font-family: Simplifica;
    src: url(../webfonts/SIMPLIFICA.ttf);
}

h1{
    font-size:45px;
    font-weight: bold;
    color: #777777;
}

p{
    font-size:15px;
    font-family: Microsoft Yi Baiti;
    text-align: center;
    padding-bottom:10px;
        color: #ededed;
}
.titulo_menu{
    padding-top:30px; 
    padding-bottom: 30px;
    margin-bottom: 1px;
    font-family: Simplifica;
    text-align: center;
    background-color: #ededed; ;
}



#contenedor{ 
    margin: auto; 

} 


#lateral{ 
    background-color: transparent; 
    width: 200px; 
    float:left; 

}  


#lateral2{ 

    width: 25%;

    padding-right: 0px;
    float:left; 


}  
